
/*头部*/
.w{
	width: 1190px;		/*版心*/
	margin: 0 auto;
}

.w2{
	width: 1900px;
	margin: 0 auto;
}

/*中间*/

.fl{
	float: left;  /*浮动的公共类*/
}

.fr{
	float: right;
}

.f10{
	color: #f10215!important;
	font-size: 14px;
}

.f11{
	color: #f10215!important;
	font-size: 8px;	
}

.f12{
	font-size: 13px;	
}	



.left{
	width: 90px;
    height: 250px;
    background: no-repeat;
    cursor: pointer;
    float: right;

   	

}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?hfxl53');
  src:  url('../fonts/icomoon.eot?hfxl53#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hfxl53') format('truetype'),
    url('../fonts/icomoon.woff?hfxl53') format('woff'),
    url('../fonts/icomoon.svg?hfxl53#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


header {
	height: 80px;
	background-color: #C21F0B;
}



body{
	background-color: #f6f6f6;
}




a{
	text-decoration: none;  //取消下划线
	font-size: 9px;
	color: #999;

}

a:hover {
	color: #c81623;
}


ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

*{
	margin: 0;
	padding: 0;
}

input button{
	border: 0;
	outline: none;
}
/*快速导航栏*/
.shortcut{
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	background-color:#e3e4e5;
	border-bottom: 1px solid #ddd;
}



.city{
	/*margin-left: 350px;*/
}

.shortcut .extra_tab{
	position: relative;
}

.shortcut .fr>li:nth-child(odd){
	padding: 0 3px;
	border: 1px solid #0000;
}

.shortcut .fr>.extra_tab>.perch{
	left: 0;
	right: 0;
	top: 0;
	bottom: -1px;
	position: absolute;
}
.shortcut .fr>.extra_tab:hover{
	background-color: white;
	border: 1px solid #ccc;
	/*box-shadow: 1px 2px 1px rgba(0,0,0,0.1);*/
}
.shortcut .fr>.extra_tab:hover .perch{
	border-bottom: 1px solid white;
	z-index: 30;
}
.shortcut .extra_tab:hover .drop_down{
	display: block;
}
.shortcut .r_line{
	display: inline-block;
	background-color: #ccc;
	height: 1px;
	width: 100%;
}


.drop_down{
	display: none;
	position: absolute;
	top: 30px;
	background-color: white;
	z-index: 20;
	border: 1px solid #ccc;
	box-shadow: 1px 2px 1px rgba(0,0,0,0.1);
	padding: 10px 0;
}

.drop_down_1{
	width: 280px;
	left: -1px;
}
.drop_down_1>ul{
	padding-left: 15px;
}
.drop_down_1>ul>li{
	width: 130px;
	flex: none;
}

.drop_down_1>ul:first-child{
	display: flex;
	flex-flow: row wrap;
}


.shortcut li {
	float: left;
	position: relative;
}

.shortcut i{
	font-family: "icomoon";
	font-style: normal;
}

.space{      /*小竖线*/
	width: 1px;
	height: 10px;
	background-color: #ccc;
	margin: 10px 12px 0;  /*上10，左右12*/
}

/*中间搜索框部分*/
.middle{
	height: 140px;
	line-height: 140px;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}

.form{
	position: absolute;
    left: 620px;
    top: 140px;
    width: 490px;
    height: 32px;
    border: 1px solid #e2231a;
    background: #fff;
    background-color: pink;
}

/*搜索框*/
.form input{
	width: 490px;
	height: 30px;
	border: 1px solid #f10215;
	float: left;
	font-size: 14px;
	padding-left:3px;
	float: left;	
}

/*按钮*/
.form button{
	
	position: absolute;
	left: 490px;
	top: -2px;
	width: 66px;
	height: 35px;
	background-color: #f10215;
	border: none;
	outline: none;
}
.form button:hover{
	
}

.form button i{
	font-family: 'icomoon';
	font-style: normal;
	color: #fff;
}

/*购物车*/
.shopCar{
	width: 130px;
    height: 34px;
    background-color: #fff;
    text-align: center;
    line-height: 34px;
    border: 1px solid #ccc;
    position: absolute;
    left: 1190px;
    top: 140px;
}

.shopCar i {
	font-family: 'icomoon';
	margin-right: 2px;
	font-style: normal;
}

.shopCar span {
	width: 12px;
	height: 12px;
	background-color: #f10215;
	border-radius: 50%;
	position: absolute;  /* 加了绝对定位 固定定位 浮动的行内元素， 可以不用转换，直接给宽度和高度 */
	top: 5px;
	right: 30px;
	font-size: 9px;
	color: #fff;
	line-height: 10px;
}

/*促销图片*/
.cuxiao{
	position: absolute;
	left: 1380px;
	top:128px;
}

/*关键词*/
.hotwords{
	position: absolute;
	top: 180px;
	left: 620px;
	line-height: 2;
}

/*小导航部分*/
.navitems {
	width: 770px;
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 590px;
	top: 220px;
	line-height: 30px;
}
.navitems li {
	float: left;
	margin-left: 30px;
}
.navitems li a {
	font-size: 15px;
	font-weight: 700; 
	color: #555;
}
.navitems li a:hover {
	color: #f10215;
	}
.navitems .space {
	/* margin-top: 15px;
	margin-left:15px;
	margin-right: -15px; */
	margin:15px -15px 0 15px;
}


/*页面底部分*/
footer {
	margin-top: 10px;
	height: 500px;
	background-color: #EAEAEA;
}
footer a {
	color: #666;
}

/*服务模块*/
.service {
	padding: 30px 0; 
	border-bottom: 1px solid #DEDEDE;
	overflow: hidden;
}
.service ul li {
	width: 297px;
	height: 43px;
	position: relative;
	line-height: 43px;
	float: left;
}
.service  li h5 {
	position: absolute;
	top: 0;
	left: 38px;
	width: 36px;
	height: 43px;
	background: url(../images/ico.png) no-repeat;
	text-indent: -999em;
}
.service  li:nth-child(2) h5 {
	background-position: 0 -43px;
}
.service  li:nth-child(3) h5 {
	background-position: 0 -86px;
}
.service  li:nth-child(4) h5 {
	background-position: bottom;
}
.service  li p {
	font-weight: 700;
	margin-left: 82px;
}



/* 帮助模块 */
.help {
	height: 200px;
	border-bottom: 1px solid #DEDEDE;
	padding-top: 25px;
	box-sizing: border-box;
}
.help dl {
	width: 200px;
	float: left;
}
.help dt,
.coverage h5 {
	height: 30px;
	font-size: 14px;
	color: #666;
	margin-size:3px;
}
.help dd {
	height: 18px;
	font-size: 16px;
	line-height: 30px;
}

.help dd:hover{
	color: #c81623;
}

/* 范围 */
.coverage {
	position: absolute;
	left: 1350px;
	width: 200px;
	height: 150px;
	background: url(../images/ico_footer.png) no-repeat;
}
.coverage h5 {
	padding-left: 35px;
}
.coverage p {
	font-size: 12px;
	color: #666;
	line-height: 18px;
	width: 180px;
}
.coverage a {
	display: block;
	margin-top: 5px;
	width: 180px;
	text-align: right;
}

/* 底部版权 */
.copyright {
	position: relative;
	margin-top: 200px;
	text-align: center;
	color: #666;
	font-size: 12px;
}
.copyright span {
	margin: 0 10px;
}

.copyright div {
	margin-top:20px;
}
.copyright div p {
	line-height: 22px;
	position: relative;
}
.foot-icon a {
	display: inline-block;
	width: 103px;
	height: 33px;
	background: url(../images/ico_footer.png) no-repeat 0 -150px;
	margin: 20px 4px 0;
	
}
.foot-icon a:nth-child(2) {
	background-position: -103px  -150px;
}
.foot-icon a:nth-child(3) {
	background-position: 0  -183px;
}.foot-icon a:nth-child(4) {
	background-position: -103px  -183px;
}.foot-icon a:nth-child(5) {
	background-position: 0  -216px;
}.foot-icon a:nth-child(6) {
	background-position: -103px  -216px;
}